body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
    
}

.container.fight .section2, .container.fight .section3, .container.fight .action, .container.fight {
    display: initial;
}

.container.fight .section1 {
    display: none;
}

.section2, .section3, .action {
    display: none;
}

h1 {
    font-size: 60px;
    color: rgb(175, 52, 48);
    text-align: center;
    font-family: 'Gochi Hand', cursive, sans-serif;
    font-weight: bolder;
    text-shadow: 3px 2px 0px rgb(109, 69, 146);
    margin-top: 20px;
    
}

.section-title, #restart {
    font-size: 30px;
    color: rgb(206, 63, 63);
    text-align: center;
    font-family: 'Gamja Flower', cursive, sans-serif;
    margin-top: 10px;

}

#msg {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Gamja Flower', cursive, sans-serif;
    margin-top: 10px;

}

#restart {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Gamja Flower', cursive, sans-serif;
    margin-top: 10px;

}

#all-character, #selected-character, #enemies, button, #start, #fight-section, #defender, #new-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.character {
    border: 1px solid plum;
    border-radius: 6px;
    margin-left: 10px;
}

.character-name, .character-hp {
    font-size: 20px;
    color: rgb(117, 34, 34);
    text-align: center;
    font-family: 'Gamja Flower', cursive, sans-serif;
    font-weight: bolder;
    border-radius: 6px;
} 

img {
    width: 120px;
    height: 120px;
    cursor: pointer;
   
}

#enemies img {
    width: 100px;
    height: 100px;
}


button, #start {
    margin: 10px 10px;
    width: 200px;
    height: 35px;
    font-family: 'Gamja Flower', cursive, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(25, 56, 33);
    background-color: rgb(119, 95, 163);
    border: 2px solid rgb(100, 53, 100);
    border-radius: 8px;
}

.container.fight .section2 {
    width: 600px;
    float: left;
}
.container.fight #defender .character{
    float: left;
}

.container.fight .section3 #fight-section {
    display: block;
    margin-left: 200px;
    margin-top: 40px;
}

.container.fight .action .character-section .section-title {
    text-align: unset;
    margin-left: 273px;
}

.container.fight .action .character-section #defender {
    display: block;
    margin-left: 234px;
}

.container.fight .action .character-section #game-message {
    float: left;
    margin-left: 50px;
    width: 200px;
}

.container.fight .section3 #enemies{
    height: 150px;
}

.container.fight #fight-section {
    display: block;
    margin-left: 200px;
    margin-top: 40px;
}

.container.fight .action .character-section #game-message #msg {
    margin-left: 160px;
    width: 200px;
}